<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>商品标题</td>
        <td>商品名称</td>
        <td>商品价格</td>
        <td>商品优惠价格</td>
        <td>商品创建时间</td>
        <td>商品审核时间</td>
        <td>操作</td>
    </tr>
    <tr th:each="entity:${productInfoList}">
        <td th:text="${entity.getProductTitle()}"></td>
        <td th:text="${entity.getProductName()}"></td>
        <td th:text="${entity.getProductPrice()}"></td>
        <td th:text="${entity.getProductDiscounts()}"></td>
        <td th:text="${entity.getCreateTime()}"></td>
        <td th:text="${entity.getApproveTime()}"></td>
        <td>
            <a href="#" th:href="@{/seckillProduct/toPreSaveSeckill(productId=${entity.getId()})}" >发布秒杀商品</a>
        </td>
    </tr>
</table>
</body>
</html>