<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.product.mapper.SeckillProductDetailMapper">
  <resultMap id="BaseResultMap" type="com.seckill.common.bean.SeckillProductDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_palce" jdbcType="VARCHAR" property="productPalce" />
    <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
    <result column="product_decsrption" jdbcType="VARCHAR" property="productDecsrption" />
    <result column="product_weight" jdbcType="VARCHAR" property="productWeight" />
    <result column="product_detail_pciture_url" jdbcType="VARCHAR" property="productDetailPcitureUrl" />
    <result column="specification_and_pack" jdbcType="VARCHAR" property="specificationAndPack" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_id, product_palce, product_brand, product_decsrption, product_weight, 
    product_detail_pciture_url, specification_and_pack, created_time, updated_time
  </sql>
  <select id="selectByExample" parameterType="com.seckill.product.bean.SeckillProductDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seckill_product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seckill_product_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from seckill_product_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.seckill.product.bean.SeckillProductDetailExample">
    delete from seckill_product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.seckill.common.bean.SeckillProductDetail">
    insert into seckill_product_detail (id, product_id, product_palce, 
      product_brand, product_decsrption, product_weight, 
      product_detail_pciture_url, specification_and_pack, 
      created_time, updated_time)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{productPalce,jdbcType=VARCHAR}, 
      #{productBrand,jdbcType=VARCHAR}, #{productDecsrption,jdbcType=VARCHAR}, #{productWeight,jdbcType=VARCHAR}, 
      #{productDetailPcitureUrl,jdbcType=VARCHAR}, #{specificationAndPack,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.seckill.common.bean.SeckillProductDetail">
    insert into seckill_product_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productPalce != null">
        product_palce,
      </if>
      <if test="productBrand != null">
        product_brand,
      </if>
      <if test="productDecsrption != null">
        product_decsrption,
      </if>
      <if test="productWeight != null">
        product_weight,
      </if>
      <if test="productDetailPcitureUrl != null">
        product_detail_pciture_url,
      </if>
      <if test="specificationAndPack != null">
        specification_and_pack,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productPalce != null">
        #{productPalce,jdbcType=VARCHAR},
      </if>
      <if test="productBrand != null">
        #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productDecsrption != null">
        #{productDecsrption,jdbcType=VARCHAR},
      </if>
      <if test="productWeight != null">
        #{productWeight,jdbcType=VARCHAR},
      </if>
      <if test="productDetailPcitureUrl != null">
        #{productDetailPcitureUrl,jdbcType=VARCHAR},
      </if>
      <if test="specificationAndPack != null">
        #{specificationAndPack,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.seckill.product.bean.SeckillProductDetailExample" resultType="java.lang.Long">
    select count(*) from seckill_product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seckill_product_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.productPalce != null">
        product_palce = #{record.productPalce,jdbcType=VARCHAR},
      </if>
      <if test="record.productBrand != null">
        product_brand = #{record.productBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.productDecsrption != null">
        product_decsrption = #{record.productDecsrption,jdbcType=VARCHAR},
      </if>
      <if test="record.productWeight != null">
        product_weight = #{record.productWeight,jdbcType=VARCHAR},
      </if>
      <if test="record.productDetailPcitureUrl != null">
        product_detail_pciture_url = #{record.productDetailPcitureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.specificationAndPack != null">
        specification_and_pack = #{record.specificationAndPack,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seckill_product_detail
    set id = #{record.id,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      product_palce = #{record.productPalce,jdbcType=VARCHAR},
      product_brand = #{record.productBrand,jdbcType=VARCHAR},
      product_decsrption = #{record.productDecsrption,jdbcType=VARCHAR},
      product_weight = #{record.productWeight,jdbcType=VARCHAR},
      product_detail_pciture_url = #{record.productDetailPcitureUrl,jdbcType=VARCHAR},
      specification_and_pack = #{record.specificationAndPack,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.seckill.common.bean.SeckillProductDetail">
    update seckill_product_detail
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productPalce != null">
        product_palce = #{productPalce,jdbcType=VARCHAR},
      </if>
      <if test="productBrand != null">
        product_brand = #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productDecsrption != null">
        product_decsrption = #{productDecsrption,jdbcType=VARCHAR},
      </if>
      <if test="productWeight != null">
        product_weight = #{productWeight,jdbcType=VARCHAR},
      </if>
      <if test="productDetailPcitureUrl != null">
        product_detail_pciture_url = #{productDetailPcitureUrl,jdbcType=VARCHAR},
      </if>
      <if test="specificationAndPack != null">
        specification_and_pack = #{specificationAndPack,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seckill.common.bean.SeckillProductDetail">
    update seckill_product_detail
    set product_id = #{productId,jdbcType=BIGINT},
      product_palce = #{productPalce,jdbcType=VARCHAR},
      product_brand = #{productBrand,jdbcType=VARCHAR},
      product_decsrption = #{productDecsrption,jdbcType=VARCHAR},
      product_weight = #{productWeight,jdbcType=VARCHAR},
      product_detail_pciture_url = #{productDetailPcitureUrl,jdbcType=VARCHAR},
      specification_and_pack = #{specificationAndPack,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>